<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pers.zy.gallarylib">

    <application
        android:name=".gallery.GalleryApp">
        <activity android:name=".gallery.GalleryActivity"
            android:theme="@style/GalleryStyle"/>
        <activity android:name=".gallery.MediaPreviewActivity"
            android:theme="@style/GalleryStyle"/>
    </application>

</manifest>