<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pers.zy.gallarylib">

    <application android:name=".gallery.GalleryApp">
        <activity
            android:name=".gallery.ui.GalleryMediaActivity"
            android:theme="@style/GalleryStyle.TransStyle"
            android:screenOrientation="portrait" />
        <activity
            android:name=".gallery.ui.MediaPreviewActivity"
            android:theme="@style/GalleryStyle"
            android:screenOrientation="portrait" />
    </application>

</manifest>